<mapper namespace='application.user.mapper.UserMapper'>
    <select id='say' resultType='dict'>
       {$ for_test $}
    </select>

    <ref id='for_test'>
        SELECT user_name FROM sys_user
                    WHERE 1=1
                    {% if name %}
                    AND name = :name
                    {% endif %}
                   
    </ref>
    
    <select id='run'>
        {$ for_test $}
    </select>

    <select id='select_by_id'>
        SELECT * FROM t_user
            WHERE 1=1
            {% if name %}
            AND name = {{ name | quote }}
            {% endif %}
            {% if id_list %}
            AND id IN ({{ id_list | join(", ") }})
            {% endif %}
            {$ common_condition $}
    </select>
    <ref id='common_condition'>
        name = :name
        {$ common_condition_1$}
        {$ common_condition_2 $}
    </ref>
    
    <ref id='common_condition_1'>
        And 1 = 1 
        {$ common_condition_3 $}
    </ref>

    <ref id='common_condition_2'>
        And age = :age AND type=:type 
    </ref>

    <ref id='common_condition_3'>
        or age = :age AND type=:type 
    </ref>

    <update id='updateByUserName'>
        update t_user set password=:password where name=:name
    </update>
    
    <insert id='addUser'>
        insert into t_user(name, age, type) values(:name, :age, :type)
    </insert>
</mapper>